body {
    font-family: 'Special Elite',cursive;
    background: #00f2f2;
    top: 0;
}
.head-div{
    background: #ffffff;
    color: #ff0000;
}
.head-div img{
    width: 100px;
}
.md{
    background: #ffd2c7;
    padding: 10px;
    margin-top: 15px;
    border: 3px solid #ffffff;
}
.md label{
    background: #ffffff;
    width: 310px;
    padding: 10px;
    margin-bottom: 0px;
    box-shadow: 5px 10px 8px #000;
}
#cam,#output{
    border: 2px solid #ffffff;
    width: 310px;
    height: 300px;
    box-shadow: 5px 5px 8px #000;
}
.md button {
    width: 310px;
    font-size:15px;
    box-shadow: 8px 8px 8px #000;
    border: 1px solid #000000;
}
.footer{
    margin-bottom: 100px;
}
.footer h4 {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 20px #000000;
}
.footer img {
    width: 70px;
    float: left;
}
.copyright {
    position:fixed;
    color:grey;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    line-height: 3;
    text-align: center;
}
